*{
    margin: 0;
    padding: 0;
}



.merriweather-normal{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header section */
.header_section{
    width: 1320px ;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-image:  url(../images/Banner\ Image.png);

    
    }
    .header_perant{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgba(255, 255, 255, 0));
  width: 1320px ;
  height: 600px;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;j
    }

.header_child p{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}
.header_child h1{
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
}

/* offer section */

.offer_section{
    max-width: 802px;
    height: 600px;
    margin: 120px auto 20px;
    text-align: center;
}
.offer_percent{
    color: #FF0000;
    font-size: 3rem;

}
.offer_description p{
    font-size: 0.8rem;
    color: #FF0000;
}
.
.all_categories{
    background-color: white;
    font-size: 30px;
    font-weight: bolder;
}

/* party panner*/

.party_banner{
    max-width: 1320px;
    height: 600px;
    background-image: url(../images/Vectorrr.png);
    margin: 0 auto;
    border-radius: 16px;
}
.party_main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(7, 2, 17, 0.932),rgba(195, 133, 47, 0.219));
    display: flex;
    justify-content:space-around;
    align-items:center ;
    border-radius: 16px;
}
.party_head{
    color: #ffffff;
    font-size: 3rem;
}
.party_description{
    color: #ffffffa4;
    font-size: 0.8rem;
}
.party_button{
    background-color: rgba(7, 2, 17, 0);
    color: #ffffff;
    font-weight: bold;
    border: none;
}

/* join section */

.join_section {
    width: 1320px ;
    height: 482px;
    background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0.103),rgba(255, 255, 255, 0.712));
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.join_head{
    line-height: 30px;
    text-align: center;
}
.join_description{
    font-weight: bold;
    font-size: 1.5rem;
    color: #070211 ;
}
.join_description span{
    color: #FF0000;
}
.join_button{
    padding: 15px 20px;
    background-color:#FF0000 ;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}
/* card section */
.card_section{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card_top{
    color: #FF0000;
    font-size: 1rem;
}
.card_child_first{
    line-height: 15px;
}
.card_child_first h3{
    font-weight: bolder;
    font-size: 2rem;
}
.card_description{
    color:#070211b0 ;
    font-size: 0.8rem;
}
.card_child_second{
    background-color: #ffffff;
    margin: 60px;
    padding: 20px;
    border: 10px solid #FF0000;
    border-radius: 50%;

}
.card_child_third{
    line-height: 15px;
}
.card_child_third h3{
  color: #FF0000;
  font-weight: bolder;
  font-size: 2rem;
}
.card_child_third p{
      color:#070211b0 ;
    font-size: 0.8rem;
}
/* discount sectioun */
.discount_section{
    width: 1320px ;
    height: 700px;
    background-color:;
    background-image: url(../images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
.discount_head{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;
}
.discount_head_child{
    text-align: center;
}

.image1 img{
    position: absolute ;
    top: 280px;
    left: 150px;
    font-style: 24px;
    color: rgb(7, 2, 17);
}
.image2{
    position: absolute;
    left: 1000px;
    width: 206px;
    height: 206px;
    bottom: 250px;
}
.discount_head_child h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 72px;
  color: rgb(7, 2, 17);
  margin-top: 0 ;
  margin-bottom: 0;

}
.discount_head_child span{
 color:rgb(255, 0, 0) ;
}
.dis_bottom{
    color:rgba(7, 2, 17, 0.6) ;
    font-size: 20px;
    font-weight: 400;
}
/* portfolio section */

.portfolio_body{
    width: 1320px;
    height: 1163px;
    margin: 120px auto;

} 
.portfolio_body span{
    color: #FF0000;
    font-size: 24px;
    font-weight: normal;
}
.portfolio_body h3{
  color: #070211;
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
.portfolio_body p{
    color: #0702119c;
    font-size: 20px;

}
.protfolio_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: ;
    gap: 24px;
    margin-top: 30px;

}
.protfolio_images img{
  width: 424px;
  height: 450px;
}
/* news letter area */
.news_letter_area{
    max-width: 1320px;
    height: 116px;
    border-radius: 16px;
    margin: 0 auto 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.news_description{
    text-align: center;
}
.news_description h4{
    margin: 33px auto 22px;
    font-size: 48px;
    color: #070211;

}
.news_description p{
    color: #0702119c;
    font-size: 20px;
    margin-bottom: 54px;

}
.news_form{
    position: relative;

}
.email_input {
    padding: 30px 250px 30px 40px;
    position: absolute;
    right: 270px;
    background-color: aliceblue;
    border: none;
    border-radius: 50px;
}
::placeholder{
    color: #07021148;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
}
.button_input{
    position: absolute;
    color: #ffffff ;
    background-color: #FF0000;
    right: 130px;
    padding: 23px 40px ;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}

/* footer section */
.footer{
    width: 100%;
    height: 609px;
    background-color: #070211;
    margin-top: 134px;
    color: #ffffff;
}
hr{
    max-width: 1320px;
height: 0;
border: 1px solid rgba(255, 255, 255, 0.15);

}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
.contact address{
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
}
.contact a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.contact a .call_image{
 margin-right: 12px ;
}
.footer_images{
    text-align: center;
    padding: 50px 0;
}
.footer_images a{
    margin-right: 24px;
}
.footer_bottom{
    padding: 50px 0;
    color: #ffffff;
    font-size: 20px;
    position: relative;
}
.footer_bottom p{
    position: absolute;
    left: 290px;
    top: 70px;
}
.footer_bottom span{
    position: absolute;
    left: 1470px;
    top: 80px;
}


